<!--View displays the movies that are recorded in the databsse-->

@{
    ViewBag.Title = "Movie List";
}

<!--Brings in the movie models-->
@model IEnumerable<AndrewHomework3.Models.MovieModel>

<br />
<table class="table table-striped table-hover">

    <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Rating</th>
        <th>Edited</th>
        <th>Lent To</th>
        <th>Notes</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (MovieModel x in Model)
    {
        <tr>
            <td>@x.Category</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.Notes</td>
            <!--Update button-->
            @*<td><a asp-action="Update" asp-route-movieid="@x.MovieID">Update</a></td>*@
            <td>
                <form asp-action="Update" method="get">
                    <input type="hidden" name="movieid" value="@x.MovieID" />
                    <button class="btn-secondary">Update</button>
                </form>
            </td>
            <!--Delete button-->
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="movieid" value="@x.MovieID" />  <!--name "movieid" is being passed to controller-->
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </td>
        </tr>

    }

</table>
